<div class="jumbotron" style="background-color: #eee; width: 100%">
  <div class="container">
    <h1>Photofy</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facilis, recusandae fugit voluptatibus ex. In velit culpa dicta nostrum ad nihil beatae, praesentium, totam perspiciatis atque dolorum sapiente labore tempore!
    </p>
    <p><md-button class="md-raised md-accent" ng-href="#/">Register!<span class="glyphicon glyphicon-ok"></span></md-button></p>
  </div>
</div>


<md-content class="md-padding" >
    <md-card>
      <div layout="row" layout-align="center" class="image-categories">
        <a href="" flex="30" ng-click="package=true" ng-class="{selectedCat:package}">
          <img src="images/nature.jpg" class="md-card-image" alt="Washed Out">
        </a>
        <a href="" flex="30" ng-class="{unselectedCat:package}">
          <img src="images/flowers.jpg" class="md-card-image" alt="Washed Out">
        </a>
      </div>
      <br>
      <md-card-content class="images-package">
        <div layout="row" ng-show="package"   layout-align="center start">
          <div class="card" flex="none"><p>Group: A</p><img src="images/nature-s.jpg" alt=""></div>
          <div class="card" ng-class="{selectedCat:similarPackages}" ng-click="similarPackages=true" flex="none"><p>Group: B</p><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
          <div class="card" flex="none"><p>Group: C</p><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
        </div>
        
        <br>
        <div ng-show="similarPackages">
          <h4 class="text-center">Similar groups:</h4>
          <div layout="row"  class="similarPackages" layout-align="center start">
            <div flex="none"><img src="images/nature-s1.jpg" alt=""><img src="images/nature-s2.jpg" alt=""></div>
            <div flex="none" ng-class="{selectedCat:imageSize}" ng-click="imageSize=true"><img src="images/nature-s3.jpg" alt=""><img src="images/nature-s4.jpg" alt=""></div>
            <div flex="none"><img src="images/nature-s3.jpg" alt=""><img src="images/nature-s4.jpg" alt=""></div>
            <div flex="none"><img src="images/nature-s1.jpg" alt=""><img src="images/nature-s2.jpg" alt=""></div>
          </div>
        </div>

        <br>
        <div  ng-show="imageSize" class="text-center">
          <h4>Choose size: </h4>
          <md-radio-group layout="row" layout-align="center start" ng-model="data.group1">
            <md-radio-button flex="none" value="Small" class="md-primary" ng-click="imageFilter=true">Small</md-radio-button>
            <md-radio-button flex="none" value="Medium" ng-click="imageFilter=true"> Medium </md-radio-button>
            <md-radio-button flex="none" value="Large" ng-click="imageFilter=true">Large</md-radio-button>
          </md-radio-group>
        </div>
        
        <br>
        <div ng-show="imageFilter"> 
          <h4 class="text-center">Image filter:</h4><br>
          <div layout="row"  class="images-package" layout-align="center start">
            <img ng-click="imageFrame=true" class="filter-sepia" src="images/nature-s.jpg" alt="">
            <img ng-click="imageFrame=true" class="filter-blur" src="images/nature-s.jpg" alt="">
            <img ng-click="imageFrame=true" class="filter-grayscale" src="images/nature-s.jpg" alt="">
          </div>
        </div>
        <br>

        <div ng-show="imageFrame">
            <h4 class="text-center">Choose frame thickness:</h4>
            <md-radio-group layout="row" layout-align="center center">
              <div ng-click="activeBorder='border-thick' ; imageFrameColor=true" flex="none" class="border-thin" ng-class="activeColor"></div>
              <div ng-click="activeBorder='border-thin' ; imageFrameColor=true" flex="none" class="border-thick" ng-class="activeColor"></div> 
            </md-radio-group>
        </div>
        
        <br>
        <div  ng-show="imageFrameColor" >
          <h4 class="text-center">Choose color:</h4>
          <md-radio-group ng-model="data.group1" layout="row" layout-align="center start">
            <md-radio-button value="Dark" flex="none"  selected ng-click="activeColor='border-dark'; submit=true">Dark</md-radio-button>
            <md-radio-button value="Light" flex="none" ng-click="activeColor='border-light'; submit=true">Light</md-radio-button>
          </md-radio-group>
        </div>
        <br>
        <div layout="row" ng-show="submit" layout-align="center center">
          <md-button   class="md-no-ink md-primary"><a href="mailto:email@example.com">Submit</a></md-button>         
        </div>
        
      </md-card-content>
    </md-card>
</md-content>
