<div class="jumbotron" style="background-color: #eee; width: 100%">
  <div class="container">
    <h1>Photofy</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facilis, recusandae fugit voluptatibus ex. In velit culpa dicta nostrum ad nihil beatae, praesentium, totam perspiciatis atque dolorum sapiente labore tempore!
    </p>
    <p><md-button class="md-raised md-accent" ng-href="#/">Register!<span class="glyphicon glyphicon-ok"></span></md-button></p>
  </div>
</div>


<md-content class="md-padding" >
    <md-card>
      <div layout="row" layout-align="center">
        <a href="" flex="40" ng-click="package=true">
          <img src="images/nature.jpg" class="md-card-image" alt="Washed Out">
        </a>
        <a href="" flex="40">
          <img src="images/flowers.jpg" class="md-card-image" alt="Washed Out">
        </a>
      </div>
      <md-card-title>

      </md-card-title>
      <md-card-content class="images-package">
        <div layout="row" ng-show="package"   layout-align="center start">
          <div class="card" flex="auto"><img src="images/nature-s.jpg" alt=""></div>
          <div class="card" ng-click="similarPackages=true" flex="auto"><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
          <div class="card" flex="auto"><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
        </div>

        <div layout="row" ng-show="similarPackages" >
          <h3>Similar groups:</h3>
          <div flex="auto" ng-click="imageSize=true"><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
          <div flex="auto"><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
          <div flex="auto"><img src="images/nature-s.jpg" alt=""><img src="images/nature-s.jpg" alt=""></div>
        </div>
        
        <div layout="row" ng-show="imageSize" >
          <p>Choose size: </p>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="Small" class="md-primary" ng-click="imageFilter=true">Small</md-radio-button>
            <md-radio-button value="Medium" ng-click="imageFilter=true"> Medium </md-radio-button>
            <md-radio-button value="Large" ng-click="imageFilter=true">Large</md-radio-button>
          </md-radio-group>
        </div>

        <div layout="row" ng-show="imageFilter" class="images-package" layout-align="start start">
          <div class="card">
            <h3>Image filter:</h3><br>
            <img ng-click="imageFrame=true" class="filter-sepia" src="images/nature-s.jpg" alt="">
            <img ng-click="imageFrame=true" class="filter-blur" src="images/nature-s.jpg" alt="">
            <img ng-click="imageFrame=true" class="filter-grayscale" src="images/nature-s.jpg" alt="">
          </div>
        </div>

        <div class="card" layout="row" ng-show="imageFrame" layout-align="start start">
          <h3>Choose frame thickness:</h3><br>
          <md-radio-group ng-model="data.group1">
            <div ng-click="activeBorder='border-thick' ; imageFrameColor=true" flex="10" class="border-thin" ng-class="activeColor"></div>
            <div ng-click="activeBorder='border-thin' ; imageFrameColor=true" flex="10" class="border-thick" ng-class="activeColor"></div> 
          </md-radio-group>
        </div>
        <div class="card" layout="row" ng-show="imageFrameColor" layout-align="start start">
          <p>Choose color:</p>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="Dark"  selected ng-click="activeColor='border-dark'; submit=true"> Dark </md-radio-button>
            <md-radio-button value="Light" ng-click="activeColor='border-light'; submit=true">Light</md-radio-button>
          </md-radio-group>
        </div>
        <div layout="row" ng-show="submit">
          <md-button  md-no-ink class="md-primary"><a href="mailto:email@example.com">Submit</a></md-button>         
        </div>
        
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-fab md-mini"><ng-md-icon icon='favorite'></ng-md-icon></md-button>
        <md-button class="md-fab md-mini"><ng-md-icon icon='more_vert'></ng-md-icon></md-button>
      </md-card-actions>
    </md-card>
</md-content>
